.navbar { /*this is the styling for the navigation bar div*/
    background-color: black;
    height: 70px;
    margin-top: -28px;
    width: 1540px;
    margin-left: -10px;
    overflow: visible
}
.navbar h1 { /*this is the styling for the heading within the navigation bar*/
    color: white;
    text-align: center;
    word-spacing: 50px;
    font-size: 40px
}
.navbar a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
.topnav a.icon { /*styling of the icon */
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.active {
    background-color: #4CAF50;
    color: white;
}
#fb { /*styling of the facebook link image in the navigation bar*/
    position: relative;
    left: 100px;
    width: 50px;
    height: 50px;
    top: -110px;
}
#fb:hover { /*transformation styling for the facebook image */
    transform: scale(1.5)
}
#insta { /*styling of the instagram link image in the navigation bar*/
    position: relative;
    left: -60px;
    width: 50px;
    height: 50px;
    top: -110px;
}
#insta:hover { /*transformation styling for the instagram image */
    transform: scale(1.5)
}
#twit { /*styling of the twitter link image in the navigation bar*/
    position: relative;
    left: -60px;
    width: 50px;
    height: 50px;
    top: -110px;
}
#twit:hover { /*transformation styling for the twitter image */
    transform: scale(1.5)
}
#Rhino { /*styling for the rhino image within the navigation bar*/
    position: relative;
    left: 545px;
    width: 100px;
    height: 100px;
    top: -110px;
}
#productspic { /*this is the styling for the big picture with the man in it*/
    position: relative;
    width: 1550px;
    height: 900px;
    top: -104px;
    left: -10px;
}
.bar1, .bar2, .bar3 { /*This is the styling for the hamburger style navigation bar */
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s
}
.change .bar1 { /*this is the transformation styling for the top bar of the hamburger style navigation bar*/
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
}
.change .bar2 { /*this is the transformation styling for the middle bar of the hamburger style navigation bar*/
    opacity: 0;
}
.change .bar3 { /*this is the transformation styling for the bottom bar of the hamburger style navigation bar*/
    -webkit-transform: rotate(45deg) translate(-4px, -7px);
    transform: rotate(45deg) translate(-4px, -7px);
}
.navbar a.icon {
    display: block;
    position: absolute;
    right: 10px;
    top: 0px;
    z-index: 3;
}
#options { /*this is the styling of the options within the dropdown list*/
    display: none;
    position: absolute;
    background-color: black;
    width: 200px;
    top: 5px;
    right: 45px;
    z-index: 2;
}
.link { /*this is the styling for the links within the navigation bar*/
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: left;
}
.link:hover { /*styling of the hover of the links in the navigation bar*/
    background-color: gray
}
.MainDiv{/*styling for the main div*/
    height:1000px;
    width:1540px;
}
.headerDiv{/*styling for the heading div*/
    height:200px;
    width:1540px;
    background-color:none;
    position:relative;
    top:-100px;
}
.headerDiv h3{/*styling for the heading */
    text-align:center;
    color:black;
}
.headerDiv p {/*styling for the paragraph */
    text-align: center;
    color: black;
}
.FormDiv{/*styling for the maindiv of the form*/
    background-color:#f4f7f8;
    width:800px;
    height:1000px;
    position:relative;
    right:-370px;
    top:-220px;
}
input[type=text], input[type=email], input[type=number], input[type=date] {/*this is the styling for the input sections*/
    background-color:#e8eeef;
    position:relative;
    top:20px;
    left:20px;
    width:750px;
    height:30px;
    padding:10px 10px;
    margin:8px 0;
    display:inline-block;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box
}
#CustomerInfo{/*styling for the customer info*/
    font-weight:700;
    font-size:large;
    position:relative;
    left:60px;
    top:20px;
}
select {/*styling for the province selection*/
    background-color: #e8eeef;
    position: relative;
    top: 20px;
    left: 20px;
    width: 750px;
    height: 40px;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}
#ShippingDetails {/*styling for the shipping details*/
    font-weight: 700;
    font-size: large;
    position: relative;
    left: 30px;
    top: 2px;
}
.ShippingDetails{/*styling for position*/
    position:relative;
    top:30px;
}
.Province{/*styling for position*/
    position:relative;
    top:20px;
    left:30px;
    font-size:medium;
    font-weight:700
}
textarea {/*styling for the text area*/
    background-color: #e8eeef;
    position: relative;
    top: 20px;
    left: 20px;
    width: 750px;
    height: 100px;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}
#BillingDetails {/*styling for the billing details*/
    font-weight: 700;
    font-size: large;
    position: relative;
    left: 60px;
    top: 20px;
}
.BillingDetails {/*styling for the position for the details*/
    position: relative;
    top: 50px;
}
.TermsC{/*styling for the terms and conditions div*/
    background-color:#f4f7f8;
    position:relative;
    height:150px;
    width:1000px;
    left:275px;
    top:-210px;
}
#TCs{/*styling for the terms and conditions*/
    position:relative;
    top:10px;
    left:30px;
    color:black;
}
.shipOff{/*styling for the ship off button div*/
    position:absolute;
    width:960px;
    height:60px;
    left:20px;
    background-color:black;
    color:white;
    top:70px;
    text-align:center;
    font-weight:600;
    font-size:20px;
}
.shipOff a { /*styling for the ship off text*/
    text-decoration:none
}
.NumberDiv{/*this is the styling for the div with the number next to the customer info,billing details and shipping details*/
    position:relative;
    background-color:black;
    height:30px;
    width:30px;
    border-radius: 30px 30px 30px 0px;
    top:40px;
    left:20px;
}
.NumberDiv h3 { /*styling for the number within the div next to the customer info,billing details and shipping details*/
    position: relative;
    text-align: center;
    top: 5px;
    color: white
}